body{
    background: rgb(89, 121, 121);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
    text-transform: capitalize;
    height: 100vh;
    flex-direction: column;
}
input {
    display: inline-block;
    padding: .4rem .2rem;
    color: #333;
    margin: 0.4rem;
}
button{
    padding: .4rem .2rem;
    background: rgb(17, 73, 73);
    color: #fff;
}
button:active{
    background: rgb(75, 145, 145);
}
input:focus{
    outline: none;
}
ul{
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.2;
    color: rgb(3, 46, 46);
}

